<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <title>入退出状況初期登録フォーム</title>
</head>
<body>
  <div class="container">
    <h1>入退出状況初期登録フォーム</h1>
    <form action="store" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Discordユーザ名:</label>
        <input type="text" class="form-control" placeholder="ユーザ名を入力してください" id="DisUsName" name="DisUsName" required>
      </div>

      <button type="submit" class="btn btn-primary">送信</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>